.box{
    height : 100px;
    width : 300px;
    background-color: pink;
    /* animation-name :colorAnimate;
    animation-duration: 2s;
    animation-timing-function : ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal; */
    animation : fontAnimation 2s ease-in 0s 3 normal;
}
@keyframes fontAnimation{
    from{font-size : 20px;
        background-color: green;
    }
    to{font-size : 40px;
        background-color: blue;
    }
}
